.download-cli.vBox
  #go-back 
    img.shadow-icon(data-src="jump-arrow")
    .txt Back

  .download-left
    if os != 'linux'
      .download-kinds.lexi
        .kind(data-kind="virtualBox")
          input(value="vBox" type="radio" name="downloads" checked='true')
          .info
            .title Use Virtual Box
            .blurb= details.virtualBxMsg.main
        .kind(data-kind="docker")
          input(value="docker" type="radio" name="downloads")
          .info
            .title Use Docker Native
            .blurb!= details.dockerMsg.main
    .os-menu
      .os.apple(data-id="apple") Mac
      .os.windows(data-id="windows") Windows
      .os.linux(data-id="linux") Linux
  
  .download-right
    .icon
      img.shadow-icon(data-src="blok")
      .logo  
        img.shadow-icon(data-src="#{os}-logo")
    if os != 'linux'
      .download
        .btn#download-now 
          img.shadow-icon(data-src="download-arrow")
          | Download
        .blurb#docker!= details.dockerMsg.sub
        .blurb#vBox!= details.virtualBxMsg.sub
    if os == 'apple'
      .warning 
        .h1 Important Notice!
        .txt High Sierra has introduced a few issues that break nanobox. <br/><br/>These can easily resolved. After download, <a target="_BLANK" href="https://content.nanobox.io/installing-nanobox-on-macos-high-sierra/">follow these instructions</a> to fix the problem. 
        
  .linux-instructions.lexi
    label Pick a flavor :
    select#linux-flavor
      option(value="deb") .deb (Debian / Ubuntu)
      option(value="rpm") .rpm (Fedora / CentOs / Redhat)
      option(value="pac") pacman (ArchLinux)
      option(value="tar") .tar (General)
    
    .download  
      .btn#download-now 
        img.shadow-icon(data-src="download-arrow")
        | Download
